<h2>iris 데이터 set 실습</h2>

In [1]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

iris=load_iris()
iris_data=iris.data
iris_df=pd.DataFrame(data=iris_data, columns=iris.feature_names)

print('feature 평균')
print(iris_df.mean())
print('feature 분산')
print(iris_df.var())

feature 평균
sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64
feature 분산
sepal length (cm)    0.685694
sepal width (cm)     0.189979
petal length (cm)    3.116278
petal width (cm)     0.581006
dtype: float64

In [2]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
# fit()에 매개변수로 전달할 데이터 프레임은 2차원 이상의 값이어야 한다.
scaler.fit(iris_df)
iris_scaled=scaler.transform(iris_df)

In [3]:
# iris_scaled가 배열 형태이므로 데이터 프레임으로 변환해주는 작업이 필요하다.
iris_df_scaled=pd.DataFrame(data=iris_scaled, columns=iris.feature_names)
print('feature 평균')
print(iris_df_scaled.mean())
print('feature 분산')
print(iris_df_scaled.var())

feature 평균
sepal length (cm)   -1.690315e-15
sepal width (cm)    -1.842970e-15
petal length (cm)   -1.698641e-15
petal width (cm)    -1.409243e-15
dtype: float64
feature 분산
sepal length (cm)    1.006711
sepal width (cm)     1.006711
petal length (cm)    1.006711
petal width (cm)     1.006711
dtype: float64

<h4>각 feature의 평균과 분산이 각각 완전한 0과 1은 아니지만, <br><br>0과 1에 매우 가까운 값으로 변환되었음을 알 수 있다.</h4>

In [4]:
from sklearn.preprocessing import MinMaxScaler

scaler=MinMaxScaler()
scaler.fit(iris_df)
iris_scaled=scaler.transform(iris_df)

# Scaler에 의해 변환된 데이터는 ndarray이므로 DataFrame으로 변환 필요
iris_df_scaled=pd.DataFrame(data=iris_scaled, columns=iris.feature_names)
print('feature 최솟값')
print(iris_df_scaled.min())
print('fearure 최댓값')
print(iris_df_scaled.max())

feature 최솟값
sepal length (cm)    0.0
sepal width (cm)     0.0
petal length (cm)    0.0
petal width (cm)     0.0
dtype: float64
fearure 최댓값
sepal length (cm)    1.0
sepal width (cm)     1.0
petal length (cm)    1.0
petal width (cm)     1.0
dtype: float64

<h2>스케일링 변환 시 주의사항</h2>

In [5]:
# 0에서 10까지의 정수를 train array에 저장
train_array=np.arange(0,11).reshape(-1, 1)

# 0에서 5까지의 정수를 test array에 저장
test_array=np.arange(0,6).reshape(-1, 1)

# reshape(-1, 정수): 열의 값을 정수로 지정해주면 변환될 배열의 행의 수는 알아서 지정된다는 의미이다.

In [6]:
scaler=MinMaxScaler()
scaler.fit(train_array)
train_scaled=scaler.transform(train_array)

print('train_array:', np.round(train_array.reshape(-1),2))
print('scaling 이후의 train_array:', np.round(train_scaled.reshape(-1),2))

train_array: [ 0  1  2  3  4  5  6  7  8  9 10]
scaling 이후의 train_array: [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]

In [7]:
# 테스트 데이터에 fit()을 적용했을 때의 값
scaler.fit(test_array)
test_scaled=scaler.transform(test_array)

print('test_array:', np.round(test_array.reshape(-1),2))
print('scaling 이후의 test_array:', np.round(test_scaled.reshape(-1),2))

test_array: [0 1 2 3 4 5]
scaling 이후의 test_array: [0.  0.2 0.4 0.6 0.8 1. ]

<h4>학습 데이터와 테스트 데이터의 스케일링이 부합하지 않는다.<br><br>fit()을 테스트 데이터에 적용하면 학습 데이터와는 또 다른 새로운 스케일링 기준 정보가 만들어진다.<br><br>그래서 테스트 데이터에는 다시 fit()을 적용하지 않아야 한다.<br><br>학습 데이터로 fit()을 수행한 결과를 이용해 transform()을 적용해야 한다.</h4>

In [8]:
scaler=MinMaxScaler()
scaler.fit(train_array)
train_scaled=scaler.transform(train_array)

print('train_array:', np.round(train_array.reshape(-1),2))
print('scaling 이후의 train_array:', np.round(train_scaled.reshape(-1),2))

test_scaled=scaler.transform(test_array)

print('test_array:', np.round(test_array.reshape(-1),2))
print('scaling 이후의 test_array:', np.round(test_scaled.reshape(-1),2))

train_array: [ 0  1  2  3  4  5  6  7  8  9 10]
scaling 이후의 train_array: [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]
test_array: [0 1 2 3 4 5]
scaling 이후의 test_array: [0.  0.1 0.2 0.3 0.4 0.5]

<h4>처음부터 학습 데이터와 테스트 데이터로 분리하기 전에<br><br>우선 전체 데이터 세트에 관해서 스케일링을 적용하고 이를 분리하는 방법도 있다.</h4>

In [9]:
scaler=MinMaxScaler()
train_scaled=scaler.fit_transform(train_array)

print('train_array:', np.round(train_array.reshape(-1),2))
print('scaling 이후의 train_array:', np.round(train_scaled.reshape(-1),2))

test_scaled=scaler.transform(test_array)

print('test_array:', np.round(test_array.reshape(-1),2))
print('scaling 이후의 test_array:', np.round(test_scaled.reshape(-1),2))

train_array: [ 0  1  2  3  4  5  6  7  8  9 10]
scaling 이후의 train_array: [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]
test_array: [0 1 2 3 4 5]
scaling 이후의 test_array: [0.  0.1 0.2 0.3 0.4 0.5]

<h2>titanic 데이터 set 실습</h2>

In [10]:
train = pd.read_csv('https://bit.ly/fc-ml-titanic')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
# 데이터 타입 파악하기
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [12]:
# 컬럼별 결측치 확인하기
train.isnull().sum(axis=0)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [13]:
# Survived 여부와 성별에 따른 Age 평균 구하기
train.groupby(['Survived', 'Sex'])['Age'].mean()

Survived  Sex
0         female    25.046875
          male      31.618056
1         female    28.847716
          male      27.276022
Name: Age, dtype: float64

In [14]:
# Age 컬럼의 결측치를 Survived와 성별에 따른 Age의 평균값으로 바꾸기
age_filled = train.groupby(['Survived', 'Sex'])['Age'].transform(lambda x: x.fillna(x.mean()))
age_filled

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    25.046875
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [15]:
# MinMaxScaler를 사용하여 결측치를 채운 Age 데이터를 정규화하기

# MinMaxScaler는 2D array에 관해서만 적용 가능

# reshape 메서드는 series에서 사용할 수 없는데 반해
# age_filled는 series이므로 values 메서드를 통해
# series를 numpy array로 변환해주기
scaler = MinMaxScaler()
train_age = age_filled.values.reshape(-1, 1)

In [16]:
scaler.fit(train_age)
age_scaled = scaler.transform(train_age)
train['AgeScaled'] = pd.Series(age_scaled.reshape(-1))

In [17]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AgeScaled
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.271174
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0.472229
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.321438
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0.434531
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.434531

In [18]:
# Fare 컬럼은 결측치 존재하지 않으므로 별도의 처리 없이 진행

# StandardScaler를 사용하여 Fare 데이터를 표준화하기

# reshape 메서드는 series에서 사용할 수 없는데 반해
# train['Fare']는 series이므로 values 메서드를 통해
# series를 numpy array로 변환해주기

scaler = StandardScaler()
train_fare = train['Fare'].values.reshape(-1, 1)
scaler.fit(train_fare)
fare_scaled = scaler.transform(train_fare)
train['FareScaled'] = pd.Series(fare_scaled.reshape(-1))

In [19]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AgeScaled,FareScaled
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.271174,-0.502445
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0.472229,0.786845
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.321438,-0.488854
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0.434531,0.420730
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.434531,-0.486337

In [20]:
# Feature Scaling 적용 전과 후 비교

print('Age의 정규화 적용 전 후 평균과 분산 비교')
print(train[['Age', 'AgeScaled']].mean())
print(train[['Age', 'AgeScaled']].var())
print('\nFare의 표준화 적용 전 후 평균과 분산 비교')
print(train[['Fare', 'FareScaled']].mean())
print(train[['Fare', 'FareScaled']].var())

Age의 정규화 적용 전 후 평균과 분산 비교
Age          29.699118
AgeScaled     0.368749
dtype: float64
Age          211.019125
AgeScaled      0.026850
dtype: float64

Fare의 표준화 적용 전 후 평균과 분산 비교
Fare          3.220421e+01
FareScaled   -4.373606e-17
dtype: float64
Fare          2469.436846
FareScaled       1.001124
dtype: float64

In [26]:
from sklearn.preprocessing import StandardScaler
import numpy as np

standard_scaler = StandardScaler()

# 샘플 데이터를 생성한다.
x = np.arange(10)

# outlier(이상치)를 생성한다.
x[9] = 1000

# 표준화 전 이상치가 있는 데이터의 평균과 분산
print('표준화 전 이상치가 있는 데이터')
print('평균: ', x.mean(), '\n분산: ', x.std())

# 데이터에 관해 표준화를 진행한다.
scaled = standard_scaler.fit_transform(x.reshape(-1, 1))
print('\n표준화 후 데이터')
print('평균: ', scaled.mean(), '\n분산: ', scaled.std())
print('평균 근삿값: ', round(scaled.mean(), 2), '\n분산 근삿값: ', round(scaled.std(), 2))

표준화 전 이상치가 있는 데이터
평균:  103.6
분산:  298.8100399919654

표준화 후 데이터
평균:  4.4408920985006264e-17
분산:  1.0
평균 근삿값:  0.0
분산 근삿값:  1.0

In [38]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

# 이상치 추가 전 데이터의 평균과 분산
y = np.arange(10)
scaled = MinMaxScaler().fit_transform(y.reshape(-1, 1))


print('이상치 추가 전의 데이터')
print('평균: ', scaled.mean(), '\n분산: ', scaled.std())

# 이상치 추가 후 데이터의 평균과 분산
y[9] = 1000
scaled = MinMaxScaler().fit_transform(y.reshape(-1, 1))
print('\n이상치 추가 후의 데이터')
print('평균: ', scaled.mean(), '\n분산: ', scaled.std())

이상치 추가 전의 데이터
평균:  0.5
분산:  0.31914236925211265

이상치 추가 후의 데이터
평균:  0.1036
분산:  0.2988100399919655